@namespace TriPower
@inherits TriComponentBase

<div id="@Id" class="@CssClass" style="@Style" @attributes="UserAttributes">
    <span class="tw:text-sm tw:font-bold">@Label</span>
    <span class="tw:text-lg tw:font-thin">@ChildContent</span>
</div>